/* 
  Variáveis para cores:
  --fundo-principal
  --texto
  --texto-inverso
  --destaque
  --destaque-inverso
  --fundo-card
*/

/* Ciano Luminoso - HEX #00FFFF
   Verde Neon - HEX #00FF00
   Amarelo Brilhoso - HEX #FFF00F
   Vermelho Vibrante - HEX #FF0000
   Azul-escuro - #0B0513
*/ 

@font-face {
  font-family: "BarlowArc";
  src: url(../fontes/Barlow_embark/Barlow-Medium.ttf);
}
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --fundo-principal: #ece2d0;
  --texto: #120918;
  --texto-inverso: #ffffff;
  --destaque: #120918;
  --destaque-inverso:#66bbff;
  --fundo-card:#ffffff;
  --borda: #04a4b9;
  --barra-0-50: #F20732;
  --barra-51-70: #f1aa1c;
  --barra-71-85: #22F26B;
  --barra-86-100: #66FAFD;
}

body.escuro{
  --fundo-principal: #120918;
  --texto: #e0e0e0; 
  --texto-inverso:#ffffff;
  --destaque:#120918;
  --destaque-inverso:#a73917;
  --fundo-card:#120918;
  background-image: url("../imagens/Fundo-arc-4k-with-no-logo.png");
}

body{
  font-family: 'BarlowArc',sans-serif;
  line-height: 1.5em;
  background-image: url("../imagens/fundo-arc-claro2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: var(--texto);
  transition: background-color 1s, color 1s;
}

header{
  display: flex;
  justify-content: flex-end;
  align-content: center;
  background-color: var(--destaque);
  color: var(--texto);
  padding: 10px;
  position: sticky;
  top: 0;
  z-index: 1;
}
 nav#menu ul{
  list-style: none;
  display: flex;
  gap: 15px;
 }

 nav#menu a{
  text-decoration: none;
  color: var(--texto-inverso);
  font-weight:600;
  padding: 10px 15px;
  border-radius: 5px;
 }

 nav#menu a:hover{
  color: var(--texto);
  background-color: var(--barra-51-70);
  border-radius: 50px;
  transition: background-color 0.5s;

 }

 main{
  display: grid;
  grid-template-columns: auto 90vw auto;
  gap: 20px;
  margin-top: 20px;

  
 }
 section#ficha{
  background-color: var(--fundo-card);
  padding: 20px;
  border-radius: 10px;
  grid-column: 2;
  border: 1px solid var(--borda);
  box-shadow: 3px 3px 10px 3px rgba(0, 0, 0, 0.281);

 }
 section#ficha img.foto{
  width:200px;
  aspect-ratio:1/1;
  object-fit: cover;
  overflow: hidden;
  border-radius: 50%;
  border: 3px solid var(--fundo-card);
  outline: 5px solid var(--destaque);
  display: block;
  margin: auto;
  margin-bottom: 15px;
 }

 section#ficha h1{
  color: var(--texto);
  margin: 15px;
  font-size: 1.6em;
  text-align: left;
 }
 section#ficha p{
  text-align:justify;
  hyphens: auto;
  text-justify: inter-word;
 }
 div#social{
  display: flex;
  justify-content: center;
  align-items:center;
  font-size: 1.4em;
  gap: 15px;
  margin-top: 15px;
 }
 div#social a {
  color: var(--texto);
 }
 div#social a:hover{
  color: var(--destaque-inverso);
 }

section#detalhes{
  grid-column: 2;
}
 article{
  background-color: var(--fundo-card);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 1px solid var(--borda);
  box-shadow: 3px 3px 10px 3px rgba(0, 0, 0, 0.288);
 }

article h2{
  color:var( --destaque);
  margin-bottom: 25px;
}

article#skills h2{
  background-color: var(--barra-51-70);
  display: inline-block;
  padding: 10px;
  border-radius: 30px;
}
#skill-container{
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  

}
#skill-container .info{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#skill-container .nome{
  font-weight: bold;
  color: var(--texto);
}
#skill-container .porcent{
  font-weight: bold;
  color: var(--texto);
}
#skill-container .barra{
  width: 100%;
  height: 8px;
  border-radius: 4px;
  background-color: rgb(139, 139, 126);
}
#skill-container .progresso{
  height: 100%;
  background-color: var(--texto);
  border-radius: 4px;
}

#formacao-container{
  display: flex;
  flex-direction: column-reverse;
  gap: 20px;
}
article#formacao h2{
  background-color: var(--barra-51-70);
  display: inline-block;
  padding: 10px;
  border-radius: 30px;
}
#formacao-container .curso{
  background-color: var(--fundo-card);
  box-shadow: 3px 3px 13px 3px rgba(0, 0, 0, 0.288);
  border-radius: 8px;
  border-left: 5px solid var(--destaque);
  padding-left: 15px;
  padding: 10px;
  transition: border-width 0.5s, border-color 0.5s;

}
#formacao-container .curso:hover{
  border-left-width: 15px;
  border-color: var(--barra-71-85);
  cursor: pointer;
}

#formacao-container .periodo{
  font-size: 0.8em;
  font-weight: bold;
  color: var(--texto);
}

#formacao-container .instituicao{
  color: var(--texto);
  font-size: 1.1em;
}

#projeto-container{
  display: flex;
  flex-direction: column-reverse;
  gap: 20px;
}
article#projetos h2{
  background-color: var(--barra-51-70);
  display: inline-block;
  padding: 10px;
  border-radius: 30px;
}
#projeto-container .projeto{
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: var(--fundo-card);
  box-shadow: 3px 3px 13px 3px rgba(0, 0, 0, 0.288);
  padding: 10px;
  border-left: 5px solid var(--destaque);
  transition: border-color 0.5s, border-width 0.5s;
  border-radius: 15px;
}

#projeto-container .projeto:hover{
  border-color: var(--barra-71-85);
  border-left-width:15px;
  cursor: pointer;
}
#projeto-container .foto{
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  overflow: hidden;
  border-radius: 8px;
}

footer{
  background-color: var(--destaque);
  color: var(--texto-inverso);
  text-align: center;
  padding: 15px;
}

@media screen and (min-width: 768px){
  main{
    grid-template-columns: auto 400px 1fr auto;
}
  section#ficha{
    grid-column: 2 / 3;
    height: fit-content;
    position: sticky;
    top: 65px;
}
  section#detalhes{
    grid-column: 3 / 4;
}
  #skill-container{
    grid-template-columns: 1fr 1fr;
}
  #projeto-container .projeto{
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  #projeto-container .projeto-info{
    max-width: 80%;
  }
  #projeto-container .foto{
    aspect-ratio: 1/1;
    max-width: 20%;
    max-height: 200px;
  }
}
